<button class="start1" type="button">start1</button>
<button class="stop1" type="button">stop1</button>
<button class="start2" type="button">start2</button>
<button class="stop2" type="button">stop2</button>