<h1>DJ on Youtube</h1>
<hr>
<div class="turntables-container">
  <div class="row">
    <div class="col-md-6" id="turntable1">
      <h2>Turntable 1</h2>
      <div class="title" id="title1"></div>
      <div id="player1">
        <canvas id="waveform1" height="120" width="520"></canvas><br>
        <button class="btn btn-default" id="playButton1" type="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        <div id="player1bpm"></div>
      </div>
    </div>

    <div class="col-md-6" id="turntable2">
      <h2>Turntable 2</h2>
      <div class="title" id="title2"></div>
      <div id="player2">
        <canvas id="waveform2" height="120" width="520"></canvas>
        <button class="btn btn-default" id="playButton2" type="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        <div id="player2bpm"></div>
      </div>
    </div>
  </div>
</div>
<span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
<div class="row">
  <div class="col-md-offset-3 col-md-1"><p class="pitch-slider" id="pitch-slider1"></p></div>
  <div class="col-md-1"><p class="vertical-slider" id="vertical-slider1"></p></div>
  <div class="col-md-offset-2 col-md-1"><p class="vertical-slider" id="vertical-slider2"></p></div>
  <div class="col-md-1"><p class="pitch-slider" id="pitch-slider2"></p></div>
</div>
<div id="holizontal-slider"></div>
<hr>
<form class="form-inline" id="search" onsubmit="return false;">
  <div class="form-group">
    <input type="text" class="form-control" id="q">
    <input class="btn btn-primary" type="submit" value="Search!">
  </div>
</form>
<hr>
<p>Tracklist <span class="glyphicon glyphicon-list" aria-hidden="true"></span></p>
<div class="row list-container">
  <ul id="playlist">
  </ul>
</div>
<hr>
<p>Search Result <span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
<div class="list-container">
  <ul id="list">
  </ul>
</div>