<button class="start1" type="button">start1</button>
<button class="stop1" type="button">stop1</button>
<button class="start2" type="button">start2</button>
<button class="stop2" type="button">stop2</button>
<button class="load" type="button">load!</button>
<audio src="http://192.168.33.10:3000/music-request?video_url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Df0kXY7MQHLw%26" preload="auto" controls></audio>